body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.5em; 
  background-color: 00009b; /*#99b1fa;*/
  color: white;
  }

p {
  margin: 0;
  padding: 0 0 1.5em; 
  font-weight: 400;  
  }

strong, b {
  font-weight: 500; }

h1, h2 {
  padding: 0; }

h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin-top: .5em; }

h1 {
  font-size: 2.5em;
  font-weight: 900;
  margin: 0 0 .7em;
  text-align: center; }
  @media (min-width: 820px) {
    h1 {
      line-height: 125px;
      vertical-align: center;
      text-align: left; } }

h2 {
  font-size: 2em; }
   @media (min-width: 820px) {
    h2 {
      line-height: 125px;
      vertical-align: center;
      text-align: left; } }

.headshot {
  width: 121px;
  height: 121px;
  border-radius: 50%;
  border: 2px solid white;
  margin: 0 auto 1em;
  display: block; }
  @media (min-width: 820px) {
    .headshot {
      margin: 0 0 0 -150px;
      float: left; } }

.wrap {
  width: 500px;
  margin: 8em auto 2em; }

.center {
  margin: 0 auto;
  display: block; }

a {
  color: #99b1fa;
  text-decoration: none; }
  a:hover {
    color: #99b1fa;
    text-decoration: underline; }
  a:visited {
color: #99b1fa; }

footer {
  margin-top: 1em;
  color: #99b1fa;
  font-size: .9em; }
